.menu-container {
    padding: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.menu-container h1 {
    color: #0d00ff;
    font-size: 3em;
    margin-bottom: 50 px;
    font-weight: bold;
}

.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: 3px, solid #0d00ff;
    border-radius: 10px;
    padding: 30px 10px;
    height: 250px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.icon-placeholder {
    font-size: 60px;
    color: #0d00ff;
    margin-bottom: 15px;
}

.menu-item p {
    font-size: 1.1em;
    font-weight: 600;
    color: #0d00ff;
    text-align: center;
    margin: 0;
}

