.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
}

/* ... (pega el resto de los estilos que te di antes) ... */

.btn-secondary {
  background-color: white;
  color: black;
  border: 1px solid black;
}